// CSS
h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
}
p {
    text-align: center;
    justify-content: center;
    align-items: center;
}
.card-img-top {
    width: 100%;
    height: 25vh;
}
.card a {
    width: 100%;
}
.card h6 {
    text-align: center;
}
.card p {
    font-size: 0.8em;
}
.row {
    margin-right: 0px;
margin-left: 0px;
}
.card {
    height: 52vh;
    justify-content: center;
    align-items: center;
} 
.btn-adapt {
    margin-top: 15px;
}