#verdura{
background-position-x: center;
background-position-y: center;
 /* padding: 20rem; */

   }

.navbar-brand{
    color: bisque !important;
    font-size: 2rem;
    font-family: fantasy;
    text-align-last: center !important;
}
.row{
    position: relative;
   
    width: 100px;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}




