body {
    font-family: 'Nunito Sans', sans-serif;
}
    .navbar {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #6ea59a;
    color: white;
    width: 100%;
} 
.navbar span {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.4em;
}
h1 {
    text-align: center;
    margin: 30px;
}
.carousel img {
    height: 60vh;
    width: 50%;
}
.carousel {
    text-align: center;
    justify-content: center;
    align-items: center;
}
#carouselExampleIndicators {
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
button {
    margin: 20px;
    width: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #6ea59a;
}
.carousel slide {
    margin-bottom: 30px;
}
.carousel-cont {
    margin-top: 20px;
}